html
    head
        title Register Page
    body
        h1 Edit User Form

        form(action='', method='put')
            label Name
            br
            input(type='text', placeholder='Enter Name', id='name', name='name', value='')
            br
            br
            label Email
            br
            input(type='email', placeholder='Enter Email', id='email', name='email', value='')
            br
            br
            label Username
            br
            input(type='text', placeholder='Enter Username', id='username', name='username', value='')
            br
            br
            label Password
            br
            input(type='password', placeholder='Enter Password', id='password', name='password', value='')
            br
            br
            input(type='submit', value='Update User')